{% extends 'layouts/base.html' %}
{%block title%} {{page_title}} {% endblock %}
{% block content %}
<div class="container p-4">

    {% if course.id %}
    <h4 class="text-primary">Update {{course.title}}</h4>
    {% else %}
    <h4>Create Course</h4>
    {% endif %}
    <hr>
    <div class="container d-felx justify-content-center">
        <div class="col-6">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="my-2">
                    {{field.label_tag}}
                    {{field}}

                    {% if field.errors %}
                    <div class="text-danger small">
                        {% for error in field.errors %}
                        {{error}}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Submit</button>
                {% if course.id %}
                <a href="{% url 'delete_course' course.id %}" class="btn btn-danger m-1">Delete</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}